{{#section 'css'}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{{/section}}

{{#section 'js'}}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
{{/section}}
<div style="margin-bottom: 20px; margin-top:20px">
    <h3>{{viewTitle}}</h3>
</div>

<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">{{viewTitle}}</h4>
    </div>
    <div class="card-body">
        <form action="{{action}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" class="form-control" name="title" id="Title" value="{{list.title}}">
                <label for="Author">Author</label>
                <input type="text" class="form-control" name="author" id="Author" value="{{list.author}}">
                <label for="ISBN">ISBN</label>
                <input name="isbn" type="number" class="form-control" id="ISBN" placeholder="0-306-40615-2"
                    value="{{list.isbn}}">
                <label for="category">Type or Genre</label>
                <select class="form-control" id="category" name="category">
                    {{#each listcategory}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}   
                </select>
            </div>

            <div class="custom-file">
                <input name="image" type="file" class="custom-file-input" id="fuMain" multiple="multiple">
                <label class="custom-file-label" for="fuMain">Choose file</label>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea name="description" class="form-control" id="exampleFormControlTextarea1"
                    rows="3">{{list.description}}</textarea>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>