<div class="container mb-3">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h2 class="text-center mb-3">Checkout</h2>
            <p>Tổng số lượng: {{cart.totalQty}}</p>
            <form action="/checkout" method="post" id="checkout-form">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" class="form-control" required name="name" value="{{authUser.name}}">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" class="form-control" required name="email" value="{{authUser.email}}">
                        </div>
                    </div>
                    <hr>
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <label for="startDay">Start Day</label>
                            {{generateTime cart.startDay "MMMM Do YYYY" }}
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <label for="endDay">End Day</label>
                            {{generateTime cart.endDay "MMMM Do YYYY" }}
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Book now</button>
            </form>
        </div>
    </div>
</div>